@import "../../scss/_variable.scss";
.tabs-contents {
    border: 1px solid $Blue;
    border-top: none;
    position: relative;
    .tab-content {
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        display: none;
        padding: 15px;
    }
    .tab-content.active {
        display: block;
    }
    .list {
        padding: 0px;
        margin: 0px;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border-top: 1px solid #b1d0e6;
            img {
                width: 100%;
                height: 100%;
            }
            .times-of-day {
                color: $DarkBlue;
                font-size: 18px;
                font-weight: 700;
            }
            .precipitation {
                color: $DarkBlue;
                font-size: 11px;
                line-height: 11px;
            }
            .air-temperature {
                color: $DarkBlue;
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}