@import "../../scss/_variable.scss";
.tabs {
    display: flex;
    flex-flow: row;
    .tab {
        background-color: #e6f4fd;
        min-width: 160px;
        border: 1px solid $Blue;
        padding: 6px;
        cursor: pointer;
        &:first-child {
            border-left: 1px solid $Blue;
        }
        img {
            width: 55px;
            height: 55px;
            display: inline-block;
            vertical-align: middle;
        }
        .date-dayofweek {
            padding: 6px;
        }
        .date-temp {
            display: inline-block;
            vertical-align: middle;
        }
        .temp {
            padding: 6px;
        }
        .date {
            margin-right: 10px;
            font-size: 12px;
            line-height: 12px;
            color: $DarkBlue;
            font-weight: 700;
        }
        .dayofweek {
            font-size: 18px;
            line-height: 18px;
            color: $DarkBlue;
            font-weight: 700;
        }
        .temp {
            .min {
                color: $Red;
            }
            .max {
                color: $DarkBlue;
            }
        }
    }
    .tab.active {
        background-color: #ffffff;
        border-bottom: none;
    }
}