@import "../scss/_variable.scss";
.weather-app {
    box-shadow: $Shadow;
    border-radius: 2px;
    margin: 0 auto;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $White;
}

h1 {
    font-size: 24px;
    color: $Black;
    display: block;
    line-height: 36px;
    text-align: center;
    text-shadow: $TextShadow;
    font-family: $Roboto;
    font-weight: 400;
    font-size: 30px;
}

.switcher {
    display: flex;
    -ms-flex-flow: column;
    flex-flow: row wrap;
    align-items: center;
    .heading {
        font-family: $Pacifico;
        font-size: 20px;
        margin-left: 10px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.search-field {
    text-align: center;
    margin: 20px;
    input[type="search"] {
        border: 1px solid #cccccc;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -khtml-border-radius: 3px;
        background: #ffffff !important;
        height: 40px;
        width: 200px;
        color: #222222;
        padding: 10px;
        font-size: 20px;
        font-family: $Roboto;
    }
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    left: 30px;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}