$Blue:#4398D0;
$TextBlue:#3B8AC0;
$DarkBlue:#336699;
$Black: #000000;
$LightBlack: #222;
$White:#ffffff;
$Red:#c00;
$Shadow:rgba(0, 0, 0, 0.12) 0px 1px 6px,
rgba(0, 0, 0, 0.12) 0px 1px 4px;
$InsetShadow:inset rgba(0, 0, 0, 0.12) 0px 1px 6px,
rgba(0, 0, 0, 0.12) 0px 1px 4px;
$TextShadow :0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
$Pacifico: "Pacifico",
cursive;
$Roboto: "Roboto",
sans-serif;